---
# Copyright 2018-Present, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE: End of Life of Open Manage Server Administrator
#       OpenManage Server Administrator (OMSA) will reach its End of Life status during 2027

#
# Dell server utilities
#
_ops_dell_tools_apt_repos:
  xenial:
    - { repo: "deb http://linux.dell.com/repo/community/openmanage/910/{{ ansible_lsb.codename }} {{ ansible_lsb.codename }} main", state: "present", filename: "linux.dell.com.sources" }
  bionic:
    - { repo: "deb http://linux.dell.com/repo/community/openmanage/930/{{ ansible_lsb.codename }} {{ ansible_lsb.codename }} main", state: "present", filename: "linux.dell.com.sources" }
  focal:
    - { repo: "deb http://linux.dell.com/repo/community/openmanage/10101/{{ ansible_lsb.codename }} {{ ansible_lsb.codename }} main", state: "present", filename: "linux.dell.com.sources" }
  jammy:
    - { repo: "deb http://linux.dell.com/repo/community/openmanage/11010/{{ ansible_lsb.codename }} {{ ansible_lsb.codename }} main", state: "present", filename: "linux.dell.com.sources" }
  other:
    - { repo: "deb http://linux.dell.com/repo/community/openmanage/930/{{ ansible_lsb.codename }} {{ ansible_lsb.codename }} main", state: "present", filename: "linux.dell.com.sources" }

ops_dell_tools_apt_repos: >
  {% set _var = [] -%}
  {% for repo in _ops_dell_tools_apt_repos[ansible_distribution_release] | default(_ops_dell_tools_apt_repos['other']) -%}
  {%   if _var.append(repo) -%}
  {%   endif -%}
  {% endfor -%}
  {{ _var }}

ops_dell_tools_apt_repo_keys:
  - { keyserver: "hkp://keyserver.ubuntu.com:80", id: "1285491434D8786F", state: "present" }

ops_dell_tools_monitoring_packages:
  - srvadmin-all
