---
# Copyright 2017-Present, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ops_holland_venv_bin: "/openstack/venvs/holland-{{ openstack_release }}/bin"
ops_holland_venv: "/openstack/venvs/holland-{{ openstack_release }}"

ops_holland_repo_package_name: holland
ops_holland_service_name: holland

ops_holland_repo_path: "holland_{{ ops_holland_git_install_branch | replace('/', '_') }}"

ops_holland_git_repo: https://github.com/holland-backup/holland
ops_holland_git_install_branch: "v1.1.15"
ops_holland_git_dest: "/opt/{{ ops_holland_repo_path }}"
# git_repo_plugins are other installable packages contained within the same git repo
ops_holland_git_repo_plugins:
  - { path: "plugins", package: "holland.lib.common" }
  - { path: "plugins", package: "holland.lib.mysql" }
  - { path: "plugins", package: "holland.backup.mariabackup" }

ops_holland_pip_wheel_name: holland
ops_holland_pip_dependencies:
  - "mysqlclient<=1.3.13"

ops_holland_packages:
  - git
  - libssl-dev
  - libmariadb-dev-compat
  - mariadb-backup-10.1

ops_holland_requires_dependencies:
  - virtualenv
  - virtualenv-tools
