---
# Copyright 2017-Present, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ops_pip_packages:
  - shade
  - distro
  - python-openstackclient
  - python-neutronclient

# All OPS tools are now installed inside a python venv
ops_venv: "/openstack/venvs/rcbops-{{ openstack_release |default('0.0.0') }}"
ops_python_interpreter: "{% if inventory_hostname == 'localhost' -%}/usr/bin/python3{% else -%}{{ ansible_python['executable'] }}{% endif -%}"
ops_package_cache_timeout: "{{ cache_timeout | default('3600') }}"

# Limit openstack requirements to Stein when not automatically determined
osa_requirements_hash: "{{ hostvars['localhost']['osa_requirements_hash'] |default('881814daf02179eb47be4f3ce248560b2b8199fd') }}"
osa_upper_constraints_url: "{{ requirements_git_url | default('https://git.openstack.org/cgit/openstack/requirements/plain/upper-constraints.txt?h=' ~ osa_requirements_hash) }} "

# kernel modules required on hosts
ops_host_kernel_modules:
  - bonding
  - 8021q

# sysctl parameters required on hosts
ops_host_kernel_sysctl:
  - { key: 'net.ipv4.ip_forward', value: 1 }
  - { key: 'net.ipv4.conf.all.rp_filter', value: 0 }
  - { key: 'net.ipv4.conf.default.rp_filter', value: 0 }


# Listen IP for the bind servers which get's used by designate
ops_bind_interface: 'br-host'
ops_bind_listen: "{{ ansible_facts[ ops_bind_interface |replace('-','_')  ].ipv4.address |default (ansible_host) }};"
ops_bind_dnssec: "auto" #options include yes, no or auto


# Allocate 80% for static hugepages when enabled
hugepage_size: '2M'
hugepage_nr: "{{ (ansible_memtotal_mb * 0.8 /2) |int }}"

# Service Configuration toggles
ops_import_glance_images: true
