---

openstack_vm_flavors:
  - name: m1.micro
    ram: 256
    vcpus: 1
    disk: 1
    swap: 0
    ephemeral: 0
  - name: m1.tiny
    ram: 512
    vcpus: 1
    disk: 1
    swap: 0
    ephemeral: 0
  - name: m1.mini
    ram: 1024
    vcpus: 2
    disk: 3
    swap: 0
    ephemeral: 0
  - name: m1.small
    ram: 2048
    vcpus: 3
    disk: 12
    swap: 0
    ephemeral: 0
  - name: m1.medium
    ram: 4096
    vcpus: 6
    disk: 60
    swap: 0
    ephemeral: 0
  - name: m1.large
    ram: 8192
    vcpus: 12
    disk: 300
    swap: 0
    ephemeral: 0
  - name: m1.xlarge
    ram: 16384
    vcpus: 24
    disk: 600
    swap: 0
    ephemeral: 0
  - name: m1.heavy
    ram: 32768
    vcpus: 48
    disk: 1200
    swap: 0
    ephemeral: 0

openstack_images:
  - name: Cirros-0.6.3 (kvm)
    format: qcow2
    url: https://download.cirros-cloud.net/0.6.3/cirros-0.6.3-x86_64-disk.img
    min_disk: 1
    properties:
      hypervisor_type: "kvm"
  - name: Cirros-0.6.3
    format: qcow2
    url: https://download.cirros-cloud.net/0.6.3/cirros-0.6.3-x86_64-disk.img
    min_disk: 1
    properties:
      hypervisor_type: "qemu"
  - name: Debian 12
    format: qcow2
    url: https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-genericcloud-amd64.qcow2
    min_disk: 2
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "Debian"
      os_version: "12"
  - name: Debian 13
    format: qcow2
    url: https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2
    min_disk: 2
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "Debian"
      os_version: "13"
  - name: OpenSuse Leap 16.0
    format: qcow2
    url: https://download.opensuse.org/distribution/leap/16.0/appliances/Leap-16.0-Minimal-VM.x86_64-kvm-and-xen.qcow2
    min_disk: 24
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "CentOS"
      os_version: "16"
  - name: OpenSuse Tumbleweed
    format: qcow2
    url: https://download.opensuse.org/tumbleweed/appliances/openSUSE-Tumbleweed-Minimal-VM.x86_64-Cloud.qcow2
    min_disk: 1
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "CentOS"
  - name: RockyLinux 9
    format: qcow2
    url: https://dl.rockylinux.org/pub/rocky/9/images/x86_64/Rocky-9-GenericCloud.latest.x86_64.qcow2
    min_disk: 10
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "CentOS"
      os_version: "9"
  - name: RockyLinux 10
    format: qcow2
    url: https://dl.rockylinux.org/pub/rocky/10/images/x86_64/Rocky-10-GenericCloud-LVM.latest.x86_64.qcow2
    min_disk: 10
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "CentOS"
      os_version: "10"
  - name: Ubuntu 20.04
    format: qcow2
    url: https://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64.img
    min_disk: 3
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "Ubuntu"
      os_version: "20.04"
  - name: Ubuntu 22.04
    format: qcow2
    url: https://cloud-images.ubuntu.com/releases/jammy/release/ubuntu-22.04-server-cloudimg-amd64.img
    min_disk: 3
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"
      os_distro: "Ubuntu"
      os_version: "22.04"
  - name: Ubuntu 24.04
    format: qcow2
    url: https://cloud-images.ubuntu.com/releases/noble/release/ubuntu-24.04-server-cloudimg-amd64.img
    min_disk: 3
    properties:
      hw_vif_multiqueue_enabled: "true"
      #hw_qemu_guest_agent: "yes"
      hypervisor_type: "kvm"
      os_require_quiesce: "yes"
      img_config_drive: "optional"      
      os_distro: "Ubuntu"
      os_version: "24.04"
