BASEDIR=${BASEDIR:-/opt/openstack-ops}

# Automation variables
export SKIP_PROMPTS="${SKIP_PROMPTS:-false}"
export ANSIBLE_FORKS="${ANSIBLE_FORKS:-24}"
if [ -d "/etc/genestack/inventory" ]; then
  export ANSIBLE_INVENTORY="${ANSIBLE_INVENTORY:-/etc/genestack/inventory}"
elif [ -d "/opt/openstack-ansible/inventory" ]; then
  export ANSIBLE_INVENTORY="${ANSIBLE_INVENTORY:-/opt/openstack-ansible/inventory}"
fi
export ANSIBLE_INVENTORY_IGNORE_REGEX="${ANSIBLE_INVENTORY_IGNORE_REGEX:-'patches|group_vars|artifacts|credentials|.*\.example'}"
export ANSIBLE_COLLECTION_FILE=${ANSIBLE_COLLECTION_FILE:-"$(readlink -f ${BASEDIR}/ansible-collection-requirements.yml)"}
export USER_COLLECTION_FILE=${USER_COLLECTION_FILE:-"$(readlink -f ${BASEDIR}/user-collection-requirements.yml)"}
export ANSIBLE_COLLECTIONS_PATHS=${ANSIBLE_COLLECTIONS_PATHS:-"${HOME}/.ansible/openstack-ops-collections"}

export ANSIBLE_KEEP_REMOTE_FILES=False
export ANSIBLE_PIPELINING=True
export ANSIBLE_HOST_KEY_CHECKING=False

test -f ~/.venvs/openstack-ops/bin/activate 2>/dev/null && source ~/.venvs/openstack-ops/bin/activate
