---
# Copyright 2017-Present, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- import_playbook: "common-playbooks/register-openstack-release.yml"

- name: Update spice console
  hosts: nova_console
  environment: "{{ deployment_environment_variables | default({}) }}"
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - name: Add ctrl_alt_del to spice_auto
      template:
        dest: "/usr/share/spice-html5/spice_auto.html"
        src: "templates/spice_auto.html.j2"
      when: nova_console_type == 'spice'

    - name: Add ctrl_alt_del to spice
      template:
        dest: "/usr/share/spice-html5/spice.html"
        src: "templates/spice.html.j2"
      when: nova_console_type == 'spice'

    - name: Add ctrl_alt_del to spice css
      template:
        dest: "/usr/share/spice-html5/spice.css"
        src: "templates/spice.css.j2"
      when: nova_console_type == 'spice'
  handlers:
    - include: "handlers/main.yml"
  vars_files:
    - "vars/main.yml"
