---
# Copyright 2023-Present, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- import_playbook: "common-playbooks/register-openstack-release.yml"

- name: Print Config
  hosts: localhost
  environment: "{{ deployment_environment_variables | default({}) }}"
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - name: Ceph
      ansible.builtin.debug:
        msg:
          - "Ceph Cluster: {{ ceph_cluster }}"
          - "Ceph Release: {{ ceph_stable_release }}"
  vars_files:
    - "vars/main.yml"
    - "vars/ceph.yml"
    - "vars/{{ ansible_os_family | lower }}.yml"

- name: Configure ceph
  hosts: mons:osds:rgws
  environment: "{{ deployment_environment_variables | default({}) }}"
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - name: Install ceph base backage
      package:
        name: "{{ item }}"
        state: present
      with_items: "{{ ceph_base_packages[ceph_stable_release] }}"
      retries: 2
      delay: 10
 
    - name: Create openstack ceph pool(s)
      ceph_pool:
        name: "{{ item.name }}"
        cluster: "{{ ceph_cluster }}"
        pg_num: "{{ item.pg_num | default(omit) }}"
        pgp_num: "{{ item.pgp_num | default(omit) }}"
        size: "{{ item.size | default(omit) }}"
        min_size: "{{ item.min_size | default(omit) }}"
        pool_type: "{{ item.type | default('replicated') }}"
        rule_name: "{{ item.rule_name | default(omit) }}"
        erasure_profile: "{{ item.erasure_profile | default(omit) }}"
        pg_autoscale_mode: "{{ item.pg_autoscale_mode | default(omit) }}"
        target_size_ratio: "{{ item.target_size_ratio | default(omit) }}"
        application: "{{ item.application | default(omit) }}"
      with_items: "{{ openstack_ceph_pools }}"
      delegate_to: "{{ groups['mons'][0] }}"
      #environment:
      #  CEPH_CONTAINER_IMAGE: "{{ ceph_docker_registry + '/' + ceph_docker_image + ':' + ceph_docker_image_tag if containerized_deployment | bool else None }}"
      #  CEPH_CONTAINER_BINARY: "{{ container_binary }}"

    - name: Create openstack cephx key(s)
      ceph_key:
        name: "{{ item.name }}"
        caps: "{{ item.caps }}"
        secret: "{{ item.key | default('') }}"
        cluster: "{{ ceph_cluster }}"
        mode: "{{ item.mode | default(ceph_keyring_permissions) }}"
        #environment:
        #  CEPH_CONTAINER_IMAGE: "{{ ceph_docker_registry + '/' + ceph_docker_image + ':' + ceph_docker_image_tag if containerized_deployment | bool else None }}"
        #  CEPH_CONTAINER_BINARY: "{{ container_binary }}"
      with_items: "{{ openstack_ceph_keys }}"
      delegate_to: "{{ groups['mons'][0] }}"
      no_log: "{{ no_log| default(True) }}"

  handlers:
    - include: "handlers/main.yml"
  vars_files:
    - "vars/main.yml"
    - "vars/ceph.yml"
    - "vars/{{ ansible_os_family | lower }}.yml"
