---
# Copyright 2017-Present, Rackspace Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Configure holland DB user
  hosts: galera[0]
  gather_facts: "{{ gather_facts | default(true) }}"
  tasks:
    - name: Create rpc_support backup user
      mysql_user:
        name: "{{ item.name }}"
        host: "{{ item.host }}"
        password: "{{ item.password }}"
        priv: "{{ item.priv }}"
        state: "{{ item.state }}"
      with_items:
        - name: "rpc_support"
          host: "%"
          password: "{{ rpc_support_holland_password }}"
          priv: "*.*:ALL"
          state: present
        - name: "rpc_support"
          host: "localhost"
          password: "{{ rpc_support_holland_password }}"
          priv: "*.*:ALL"
          state: present
      tags:
        - holland_sql_user
        - holland_all
  handlers:
    - include: "handlers/main.yml"
  vars_files:
    - "vars/main.yml"
    - "vars/holland.yml"

- name: Install holland OpenStack DB backup utility
  hosts: galera
  gather_facts: "{{ gather_facts | default(true) }}"
  pre_tasks:
    - include: "common-tasks/install-dependencies.yml"
  tasks:
    - name: Create venv dir for holland
      file:
        path: "{{ ops_holland_venv }}"
        state: directory

    - name: Install apt packages required by holland
      apt:
        pkg: "{{ item }}"
        update_cache: yes
        cache_valid_time: 600
      with_items: "{{ ops_holland_packages | default([]) }}"
      when: ansible_os_family == 'Debian'

    - name: Install pip dependencies required by holland
      pip:
        name: "{{ item }}"
        virtualenv: "{{ ops_holland_venv }}"
        extra_args: >-
          {{ pip_install_options|default('') }}
          --isolated
      with_items: "{{ ops_holland_pip_dependencies | default([]) }}"
      register: pip_install
      until: pip_install | success
      retries: 3

    - name: Get holland package from git
      git:
        repo: "{{ ops_holland_git_repo }}"
        dest: "{{ ops_holland_git_dest }}"
        version: "{{ ops_holland_git_install_branch }}"
      register: git_clone
      ignore_errors: yes
      until: git_clone | success
      retries: 2

    - name: Install holland program
      pip:
        name: "/opt/{{ ops_holland_service_name }}_{{ ops_holland_git_install_branch | replace('/', '_') }}"
        virtualenv: "{{ ops_holland_venv }}"
        extra_args: >-
          {{ pip_install_options|default('') }}
          --isolated
      register: pip_install
      until: pip_install | success
      retries: 2
      async: 1800
      delay: 5
      poll: 5

    - name: Install holland pip repo plugins
      pip:
        name: "{{ ops_holland_git_dest }}/{{ item.path }}/{{ item.package }}"
        virtualenv: "{{ ops_holland_venv }}"
        extra_args: "{{ pip_install_options|default('') }}"
      when: ops_holland_git_dest is defined and ops_holland_git_repo_plugins is defined
      with_items: "{{ ops_holland_git_repo_plugins }}"
      register: pip_install
      until: pip_install | success
      retries: 2
      delay: 10
      tags:
        - holland_install

    - name: Create holland directories
      file:
        state: directory
        path: "{{ item }}"
      with_items:
        - "/var/backup/holland_backups"
        - "/var/log/holland"
        - "/etc/holland"
      tags:
        - holland_dir
        - holland_all

    - name: Create links to point to holland config files
      file:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        state: link
      with_items:
        - src: "{{ ops_holland_git_dest }}/config/providers"
          dest: "/etc/holland/providers"
        - src: "{{ ops_holland_git_dest }}/config/backupsets"
          dest: "/etc/holland/backupsets"
      tags:
        - holland_conf
        - holland_all

    - name: Setup holland backup
      template:
        owner: root
        group: root
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      with_items:
        - src: "templates/holland-xtrabackup.conf.j2"
          dest: "/etc/holland/backupsets/rpc_support.conf"
        - src: "templates/holland.conf.j2"
          dest: "/etc/holland/holland.conf"
      tags:
        - holland_conf
        - holland_all

    - name: Create holland backup cron job
      cron:
        name: "holland-backup"
        minute: "{{ (ansible_eth0['ipv4']['address']|replace('.', '')|int)%60}}"
        hour: 23
        state: present
        job: "{{ ops_holland_venv_bin }}/python2.7 {{ ops_holland_venv_bin }}/holland bk"
        user: root
        cron_file: holland_backups
      tags:
        - holland_cron
        - holland_all
  handlers:
    - include: "handlers/main.yml"
  vars_files:
    - "vars/main.yml"
    - "vars/holland.yml"


- name: Create holland backup set
  hosts: galera
  tasks:
    - name: List holland backups
      command: |
         find /var/backup/holland_backups/rpc_support -iregex '.*/[0-9]+_[0-9]+/backup.xb' -type f -size +3M
      ignore_errors: True
      changed_when: found_holland_backups.rc != 0
      register: found_holland_backups

    - name: Create holland backup
      command: |
        {{ ops_holland_venv_bin }}/holland bk
      when:
        - found_holland_backups | changed
      tags:
        - holland_create_backup
        - holland_all
  tags:
    - holland_create_backup
    - holland_all

  vars_files:
    - "vars/main.yml"
    - "vars/holland.yml"
